
.content {
    
    display: flex;
    flex-direction: column;
    border: 2px;
    padding: 1px;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 5px;

}


div{
    display: flex;
}